/**Container start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8edeb;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  min-width: 60em;
}

a {
  text-decoration: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg {
  display: flex;
  cursor: pointer;
}
.reg a{
  padding-right: 0.2em;
  color: black;
}
.logo {
  width: 80px;
  border-radius: 50%;
  border: 0.13em solid #f8edeb;
  padding: 10px 7px;
  transition: 0.5s ease;
}
.logo:hover {
  border: 0.13em solid purple;
  cursor: pointer;
}
#elem {
  color: #9d8189;
  font-size: 1em;
  position: relative;
  padding: 0 7px;
  text-transform: uppercase;
  overflow: hidden;
}

#elem::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: purple;
  transition: width 0.3s ease, left 0.3s ease;
}

#elem:hover {
  color: purple;
}

#elem:hover::after {
  width: 100%;
  left: 0;
}
.cart {
  border-bottom: 2px solid #9d8189;
  color: #9d8189;
  font-size: 1.1em;
  position: relative;
  padding: 0 7px;
  text-transform: uppercase;
  overflow: hidden;
}
.cart:hover {
  color: purple;
  border-bottom: 2px solid purple;
}
/** Container end */



























/* !scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* !end scroll bar */