/**Container start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8edeb;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  min-width: 60em;
}

a {
  text-decoration: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg {
  display: flex;
  cursor: pointer;
}
.reg a {
  padding-right: 0.2em;
  color: black;
}
.logo {
  width: 80px;
  border-radius: 50%;
  border: 0.13em solid #f8edeb;
  padding: 10px 7px;
  transition: 0.5s ease;
}
.logo:hover {
  border: 0.13em solid purple;
  cursor: pointer;
}
.nav-link {
  color: #9d8189;
  font-size: 1em;
  position: relative;
  padding: 0 7px;
  text-transform: uppercase;
  overflow: hidden;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: purple;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover {
  color: purple;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

#register {
  color: #9d8189;
  font-size: 1em;
  position: relative;
  padding: 0 7px;
  text-transform: uppercase;
  overflow: hidden;
}

#register::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: purple;
  transition: width 0.3s ease, left 0.3s ease;
}

register:hover {
  color: purple;
}

#register:hover::after {
  width: 100%;
  left: 0;
}

/** Container end */

/*!begin of slider*/
#firstContainer {
  padding-bottom: 100em;
  max-width: 800px;
  margin: 0 auto;
}
.Hr {
  background-color: #333;
  margin: 10rem auto;
  width: 80%;
  margin-bottom: 5rem;
}
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
  border-radius: 3rem;
  scrollbar-width: none;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  margin-bottom: 15px;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #786369;
  opacity: 0.75;
  transition: opacity ease 250ms;
  border: 1px solid black;
  transition: transform 0.2s ease;
}
.slider-nav a:hover {
  opacity: 1;
  transform: scale(1.2);
}
/*! end of slider



/** begining of circles */
.container {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 2.5em;
  margin-left: 2.5em;
  margin-bottom: 40px;
  color: #6d6875;
}
.steps {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.step {
  background-color: hsla(25, 87%, 85%, 0.878);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  flex-direction: column;
  padding: 10px;
  border: 1px solid purple;
  overflow: hidden;
  text-align: center;
}
.step h2 {
  font-size: 1.5em;
  margin: 10px 0 5px;
  color: black;
}
.step p {
  font-size: 0.9em;
  color: #9d8189;
}
/** end of circles */

/** begining of overview */
.container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.overview {
  min-width: 700px;
  height: 200px;
  max-width: 70px;
  background-color: rgba(157, 129, 137, 0.4);
  border-radius: 20px;
  padding: 20px;
}
.heading {
  text-align: center;
  padding: 10px;
}
.paragraph {
  text-align: left;
  padding: 5px;
}
image {
  max-width: 25%;
  margin-left: 20px;
}
.img2 {
  max-width: 248px;
  border-radius: 10px;
}
.sHr {
  background-color: #333;
  margin: 1em auto;
  width: 80%;
  margin-bottom: 5rem;
}
/** end of overview */

/*! begining of form */
.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10em auto;
}
.registration-form h2 {
  text-align: center;
  color: #6066ff;
  margin-bottom: 20px;
}
.registration-form div {
  margin-bottom: 15px;
}
.registration-form label {
  display: block;
  font-size: 14px;
  color: #03045e;
  margin-bottom: 5px;
}
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="tel"] {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 2px solid #780000;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="tel"]:focus {
  border-color: #0077b6;
  background-color: #f0f8ff;
}
.registration-form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #8b54ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.registration-form input[type="submit"]:hover {
  background-color: #6736cf;
}
/* !end of form */

/* ! items page start */
div.item-container {
  justify-content: center;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
div.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  box-shadow: 2px 2px;
}
img.cir {
  width: auto;
  max-height: 100%;
  object-fit: contain;
}
div.item {
  text-align: center;
  margin: 2px;
  transform: 0.3s;
}
div.card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  display: inline-flex;
  margin: 20px;
}
div.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition-duration: 0.6s;
  transform-style: preserve-3d;
  border: 1px 2px;
}
div.card:hover div.card-container {
  transform: rotateY(180deg);
}
div.card-front,
div.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
div.card-back {
  transform: rotateY(180deg);
  background-color: whitesmoke;
  border-radius: 8px;
}
div.Card-content {
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 3px;
  font-size: small;
}
div.Product-name {
  font-weight: bold;
}

div.Price {
  font-size: large;
  font-weight: bold;
}
img.car {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
button.add-to-cart {
  border: none;
  width: 180px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(216, 189, 189);
  padding: 3px;
  font-size: medium;
  margin: 10px;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;
}
button.add-to-cart:hover {
  background-color: black;
  color: white;
}
a.links {
  cursor: pointer;
}
div.item:hover {
  transform: translateY(10px);
  transition: 0.2s;
}
/* !items page end */

/* ?making of page start */
.page-open {
  text-align: center;
  margin: 3em 0;
  font-size: 1.2em;
  color: #6d6875;
}
.make-card {
  background-color: #ffc8dd;
  width: 80%;
  overflow: hidden;
  margin: 4em auto;
  border-radius: 1em;
  padding: 1em;
}
.make-card p {
  padding: 1em;
}

.make-card h2 {
  padding: 1em;
}
.make-card a {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
/* ?making of page end */

/* * testimonials page start  */
.small-card {
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
}
.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  gap: 5px;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fec5bb;
  width: 350px;
  height: 450px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fae1dd;
  padding: 20px;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
}
.review p {
  margin: 0;
  text-align: center;
}
.review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.stars {
  margin-top: 10px;
}
.star {
  font-size: 45px;
  color: gold;
}
.feedback-section {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.feedback-section label {
  display: block;
  font-size: 30px;
  margin-bottom: 40px;
}
textarea {
  width: 60%;
  padding: 12px;
  font-size: 20px;
  background-color: #d8e2dc;
  border-radius: 5px;
  border: 2px solid black;
  resize: vertical;
}
.submit-container {
  margin-top: 20px;
}
.submit-btn {
  padding: 5px 30px;
  font-size: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.submit-btn:hover {
  background-color: #9d8189;
}
.rectangle {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  background-color: #d8e2dc;
  border-radius: 5px;
  resize: vertical;
}
.rec-section {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.rec-section label {
  display: block;
  font-size: 30px;
  margin-bottom: 40px;
}
/* * testimonials page end */

/* ? cart page start */
.cart-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.items-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.cart-total {
  font-size: 16px;
  margin-right: 10px;
}
#remove-all {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
#checkout {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
#remove-all:hover {
  background-color: rgb(188, 28, 28);
}
#checkout:hover {
  background-color: rgb(2, 94, 2);
}
#remove-all,
#checkout {
  margin-right: 10px;
  border-radius: 7px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.cart-card {
  width: 250px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.cart-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.cart-card-content {
  padding: 16px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.item-price {
  font-size: 16px;
  color: #f39c12;
  margin-top: 8px;
}
.remove-button {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px;
  transition: background-color 0.3s;
}
.remove-button:hover {
  background-color: #c0392b;
}
.cart-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
/* ? cart page end */

/*! footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}
.copy {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 50px;
  margin-right: 15px;
  border-radius: 50%;
}
.copy p {
  font-size: 14px;
  font-weight: normal;
  color: white;
}
.contact-us {
  display: flex;
  justify-content: space-around;
}
.contact-us a {
  color: white;
  margin: 5px 0;
  padding: 1em;
}
.contact-us a:hover {
  color: wheat;
  cursor: pointer;
}
/* ! footer end */

/* ?scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ?end scroll bar */
