/**Container start */
body {
    background-color: #f8edeb;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 100px;
    border-radius: 50%;
    border: 0.13em solid #f8edeb;
    padding: 10px 7px;
    transition: 0.5s ease;
  }
  .logo:hover{
      border: 0.13em solid purple;
      cursor: pointer;
  }
  #elem {
      color: #9D8189;
      font-size: 1em;
      position: relative;
      padding: 0 7px;
      text-transform: uppercase;
      overflow: hidden; 
  }
  
  #elem::after {
      content: '';
      position: absolute;
      left: 50%; 
      bottom: 0;
      width: 0; 
      height: 2px; 
      background: purple;
      transition: width 0.3s ease, left 0.3s ease;
  }
  
  #elem:hover {
      color: purple;
  }
  
  #elem:hover::after {
      width: 100%; 
      left: 0; 
  }
  .test{
      border-bottom:2px solid #9D8189;
      color: #9D8189;
      font-size: 1.1em;
      position: relative;
      padding: 0 7px;
      text-transform: uppercase;
      overflow: hidden; 
  }
  .test:hover {
      color: purple;
      border-bottom: 2px solid purple;
  }
  /** Container end */
 

  .small-card{
  
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  
  }
  .contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 5px;
  }
  .cards{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fec5bb;
    width: 350px;
    height: 450px;
    margin: 5px;
    border-radius: 10px;
    text-align:center;
  
  }
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fae1dd;
    padding: 20px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
   
  }

  .review p{
    margin: 0;
    text-align: center;
   
  }

  .review img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  
  }

.stars{
margin-top: 10px;
}

.star{
  font-size: 45px;
  color: gold;
}

.feedback-section{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;

}

.feedback-section label{
 display: block;
 font-size: 30px;
 margin-bottom: 40px;

}

textarea{
  width: 60%;
  padding: 12px;
  font-size: 20px;
  background-color: #d8e2dc;
  border-radius: 5px;
  border: 2px solid black;
  resize: vertical;
}

.submit-container{
  margin-top: 20px;
}

.submit-btn{
  padding: 5px 30px;
  font-size: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover{
  background-color:#9D8189 ;
}

.rectangle{
  width: 100%;
  padding: 12px;
  font-size: 20px;
  background-color: #d8e2dc;
  border-radius: 5px;
  resize: vertical;
}

.rec-section{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;

}

.rec-section label{
 display: block;
 font-size: 30px;
 margin-bottom: 40px;
}